<div *ngIf="post">
  <div class="post-content">
    <div class="post-main">
      <img [src]="post.imagePath" alt="Post Image" />
      <div class="text-content">
        <p>Creator: {{ post.creatorUsername }}</p>
        <p>Created on: {{ post.creationTime | date: 'short' }}</p>
        <h1>{{ post.description }}</h1>

        <!-- Edit and Delete buttons -->
        <div class="buttons">
          <button class="edit-btn" (click)="onEdit()">Edit</button>
          <button class="delete-btn" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>

    <div class="like-section" (click)="likeUnlikePost(post.id)">
      <mat-icon >favorite</mat-icon>
      <span>{{ likesCount }}</span>
    </div>

    <!-- Comments Section -->
    <div class="comments" *ngIf="post.comments && post.comments.length > 0">
      <h2>Comments</h2>
      <div *ngFor="let comment of post.comments" class="comment">
        <a class="comment-author" (click)="goToProfile(comment.userId)">{{comment.username }}</a>
        <p class="comment-text">{{ comment.text }}</p>
      </div>
    </div>

    
    <!-- If no comments -->
    <div class="no-comments" *ngIf="post.comments && post.comments.length === 0">
      <p>No comments yet.</p>
    </div>
  </div>
</div>
