/* Overall post container */
.post-content {
    display: flex;
    flex-direction: column; /* Stack the sections vertically */
    max-width: 60%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  /* Container for the image and text content */
  .post-main {
    display: flex;
    flex-direction: row; /* Ensure image and text content are side by side */
    gap: 2rem; /* Adds space between the image and the text content */
    align-items: center; /* Vertically center the content */
    margin-bottom: 2rem; /* Adds space between the main content and the comments */
  }
  
  /* Image */
  .post-content img {
    width: 40%; 
    height: auto;
    max-width: 500px; 
    border-radius: 0.5rem;
    object-fit: cover;
  }
  
  
  
  /* Description */
  .text-content h1 {
    font-size: 1rem;
    color: #000000;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 400;
    line-height: 1.2; 
  }

  /* Creator, created on */
  .text-content p {
    font-size: 0.8rem;
    color: #3a3838;
    font-weight: 400; 
    line-height: 1;
  }
    
  /* Edit and Delete button container */
  .buttons {
    margin-top: 1rem;
    display: flex; /* Arrange buttons horizontally */
    gap: 1rem; /* Adds space between the buttons */
  }
  
  /* Button styling */
  .edit-btn,
  .delete-btn {
    padding: 0.4rem 0.8rem; /* Smaller padding to reduce button size */
    font-size: 0.9rem; /* Smaller font size */
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .edit-btn {
    background-color: #28705e;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #52796F;
  }
  
  .delete-btn {
    background-color: #28705e;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: #52796F;
  }
  
  /* Comments section */
  .comments {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #ecf0f1;
    border-radius: 0.5rem;
    max-width: 100%;
  }

  .comments h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #28705e;
    font-weight: bolder;
  }

  /* Single comment "card" */
  .comment {
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  /* Author name styling */
  .comment-author {
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 0.5rem;
  }

  /* Comment text styling */
  .comment-text {
    color: #000000;
  }




  .like-section {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
  }

  .like-section mat-icon {
    margin-right: 3px; /* Razmak između ikone i broja */
  }

  

