<div class="posts-container">
  <div *ngFor="let post of posts" class="post-card">
    <mat-card class="post-card-content">
      <div class="post-header">
        <div class="post-left">
          <p class="post-description">{{ post.description }}</p>
          <div class="post-meta">
            <span class="post-creator">{{ post.creatorUsername }}</span> |
            <span class="post-time">{{ post.creationTime | date:'short' }}</span>
          </div>
        </div>
        <div class="post-right">
          <img [src]="post.imagePath" alt="Post Image" class="post-image">
        </div>
      </div>
      <div class="post-footer">
        <div class="post-likes">
          <mat-icon>favorite</mat-icon> 
          <span>{{ likesCount }}</span>
        </div>
        <div class="post-comments">
          <mat-icon>comment</mat-icon> {{ post.comments.length }} 
        </div>
        <button mat-button (click)="viewDetails(post.id)">View Details</button>
      </div>
    </mat-card>
  </div>
</div>
