.user-list-container {
    display: flex;
    justify-content: space-between;
  }
  
  .sidebar {
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  .user-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fff;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .card-header h4 {
    margin: 0;
    font-size: 1.2em;
    color: #28705e;
  }
  
  .card-body p {
    margin: 5px 0;
  }
  
  .user-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .username-link {
    color: #28705e;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .username-link:hover {
    text-decoration: none;
  }
  

  h3 {
    font-weight: bold;
  }

  button {
    background-color: #28705e;
  }

  h4 {
    font-weight: bold;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
  }
  
  .pagination button {
    padding: 6px 10px;
    background-color: #28705e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
  }
  
  .pagination button[disabled] {
    background-color: #0c231d;
    cursor: not-allowed;
  }

  
  .sorting-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .sorting-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #28705e;
    font-size: 1em;
    cursor: pointer;
  }
  
  .sorting-container select:hover {
    border-color: #28705e;
  }
  
  
  