<div class="user-list-container">
  <div class="sidebar">
    <!-- Search bar -->
    <div class="search-container">
      <h4>SEARCH</h4>
      <div class="search-bar">
          <input type="text" placeholder="Search by name" [(ngModel)]="searchCriteria.name" />
          <input type="text" placeholder="Search by surname" [(ngModel)]="searchCriteria.surname" />
          <input type="text" placeholder="Search by email" [(ngModel)]="searchCriteria.email" />
          <input type="number" placeholder="Min posts" [(ngModel)]="searchCriteria.minPosts" />
          <input type="number" placeholder="Max posts" [(ngModel)]="searchCriteria.maxPosts" />
      </div>
      <div class="buttons">
        <button class="btn btn-search" (click)="searchUsers(true)">Search</button>
        <button class="btn btn-clear" (click)="clearSearch()">Clear</button>
      </div>
    </div>
    <div class="sorting-container">
      <select [(ngModel)]="selectedSort" (change)="onSortChange()">
        <option value="email">Sort by Email</option>
        <option value="following">Sort by Following</option>
      </select>
    </div>    
  </div>

  <!-- User list -->
  <div class="main-content">
    <h3>Registered Users</h3>
    <div class="card-container">
      <div *ngFor="let user of users" class="user-card">
        <div class="card-header">
          <h4>{{ user.username }}</h4>
          <a (click)="goToProfile(user.id)" class="username-link">View Profile</a>
        </div>
        <div class="card-body">
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Name:</strong> {{ user.name }} {{ user.surname }}</p>
          <p><strong>Posts:</strong> {{ user.numberOfPosts }}</p>
          <p><strong>Following:</strong> {{ user.numberOfFollowing }}</p>
        </div>
      </div>
    </div>
  
    <div class="pagination" style="margin-top: 15px; text-align: center;">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">
        Previous
      </button>
      <span> Page {{ currentPage + 1 }} of {{ totalPages }} </span>
      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">
        Next
      </button>
    </div>
  </div>
  