<div class="content">
  <div class="header">
    <p class="title" [routerLink]="['/']" style="cursor: pointer;">OnlyBuns</p>
    <div class="buttons">
      <button *ngIf="!isLoggedIn" mat-button [routerLink]="['login']">Login</button>
      <button *ngIf="!isLoggedIn" mat-button [routerLink]="['register']">Sign Up</button>
      <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
      <button *ngIf="isLoggedIn && roleId === 1"  mat-button (click)="profile()">
        Profile
        <mat-icon>account_circle</mat-icon>  
      </button>
      <button *ngIf="isLoggedIn && roleId === 1"  mat-button (click)="profile()">
        Chats
        <mat-icon>chat</mat-icon>  
      </button>
    </div>
  </div>
  <hr class="divider">
  <div class="main-container">
    <mat-sidenav-container *ngIf="isLoggedIn" class="example-container">
      <mat-sidenav  mode="side" opened>
        <mat-nav-list>
          <a mat-list-item *ngIf="isLoggedIn && roleId === 1" (click)="showPosts()">
            <mat-icon>post_add</mat-icon>
            Posts
          </a>
          <a *ngIf="isLoggedIn && roleId === 1" mat-list-item (click)="myPosts()">
            <mat-icon>article</mat-icon>
            My Posts
          </a>

          <a mat-list-item *ngIf="isLoggedIn && roleId === 2" (click)="registeredUsers()"> 
            <mat-icon>group</mat-icon> 
            Registered Users
          </a>

          <a mat-list-item *ngIf="isLoggedIn && roleId === 1" (click)="trends()">
            <mat-icon>trending_up</mat-icon> <!-- Ikona za Trends -->
            Trends
          </a>
          <a mat-list-item *ngIf="isLoggedIn && roleId === 1" >
            <mat-icon>map</mat-icon> <!-- Ikona za Posts on Map -->
            Posts on Map
          </a>
        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>

    <div class="main-content" >   
      <div height="30px" class="tab-buttons" *ngIf="isPostsTabActive()">
        <button  class="buttons" (click)="createPost()" *ngIf="isLoggedIn && roleId === 1">
          Create post
        <mat-icon>add-circle</mat-icon>
        </button>  
      </div>
      <hr class="divider">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>