<div class="dialog-header">
  <h2 class="dialog-title">Select Users</h2>
  <button mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="dialog-content">
  <div class="users-list">
    <button
      *ngFor="let user of data.users"
      mat-button
      [class.selected]="isSelected(user)"
      (click)="toggleUser(user)">
      {{ user.name }}
    </button>
  </div>
</div>

<div class="dialog-actions">
  <button mat-raised-button color="primary" (click)="confirm()">OK</button>
</div>
