.post-card {
  width: 90%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
}

.post-text textarea {
  resize: none;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.form-map-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}

.form-section,
.map-section {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.leaflet-map {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.post-creation-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post-text {
  width: 100%;
  flex: 1;
}

.image-upload {
  margin-top: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post-button,
.close-button {
  width: 45%;
  background-color: #28705e;
  color: white;
}
