<div class="center-container">
  <mat-card class="post-card">
    <h2>Create Post</h2>

    <form [formGroup]="postForm" (ngSubmit)="uploadImage()" class="post-creation-form">
      <div class="form-map-container">
        <div class="form-section">
          <mat-form-field appearance="outline" class="post-text">
            <textarea
              matInput
              formControlName="description"
              placeholder="Share bunnies with your followers..."
              rows="10">
            </textarea>
          </mat-form-field>

          <div class="image-upload">
            <label>Add Image: </label>
            <input type="file" (change)="onImageSelect($event)" />
          </div>

          <div class="form-buttons">
            <button mat-raised-button color="primary" (click)="dialogRef.close()" type="button" class="close-button">Close</button>
            <button mat-raised-button color="primary" type="submit" class="post-button">Post</button>
          </div>
        </div>

        
        <div class="map-section">
          <div id="map" class="leaflet-map"></div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
