/* Kontejner koji centrirano pozicionira mat-card */
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Stilizacija mat-card komponente */
mat-card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Maksimalna širina kartice */
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%;
}

mat-card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

mat-error {
    font-size: 12px;
    color: red;
}
