<div class="center-container">
  <mat-card>
    <mat-card-title>Registracija</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
          <mat-label>Korisničko ime</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched">
            Korisničko ime je obavezno.
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Ime</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched">
            Ime je obavezno.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
            Unesite validnu email adresu.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Lozinka</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
            Lozinka je obavezna.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Potvrdi lozinku</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
          <mat-error *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched">
            Lozinke se ne poklapaju.
          </mat-error>
          <mat-error *ngIf="registrationForm.errors && registrationForm.errors['mismatch'] && registrationForm.get('confirmPassword')?.touched">
            Lozinke se ne poklapaju.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Registruj se</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
