/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #1e5947; 
  }
  

  mat-form-field {
    width: 100%; 
    margin-bottom: 20px; 
  }
  
  button {
    width: 100%;
  }
  
  mat-card-title {
    font-size: 24px; 
    font-weight: 500; 
    margin-bottom: 20px; 
  }
  
  
  mat-error {
    font-size: 12px; 
    color: red; 
  }
  button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.mat-raised-button {
    background-color: #28705e;; 
    color: white;
  }
  
  button.mat-raised-button:hover {
    background-color: #28705e;; 
  }
  
  button.mat-button {
    background-color: transparent;
    color: #28705e;
  }
  
  button.mat-button:hover {
    background-color: #1e5947; 
  }
  
  button.mat-icon-button {
    background-color: transparent;
    color: #28705e;
  }
  
  button.mat-icon-button:hover {
    background-color: #1e5947;
  }
  
  button:disabled {
    background-color: #e0e0e0;
    color: #bdbdbd;
    cursor: not-allowed;
  }
  
  /* Global button color */
  button {
    background-color: #28705e;
    color: white;
  }
  
  button:hover {
    background-color: #28705e;
  }
  
.mat-mdc-autocomplete-panel {
  background-color: #fff !important;
  transform: translateY(12px) translateX(-20px) !important; /* dole + levo */
  min-width: 300px !important;
  border-radius: 8px !important;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15) !important;
}


